.form {
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: bisque;
}
.input {
  margin-top: 5px;
  width: 150px;
}
.btn {
  width: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: bisque;
  border-radius: 5px;
  border: 1px rgb(255, 213, 161);
  cursor: pointer;
}
